<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>rd_firebase_auth_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>SCSDKRedirectUrl</key>
    <string>whatstrading://snap-kit-rowan/oauth2</string>

    <key>SCSDKClientId</key>
    <string>7b6a0ab8-8c2c-4ea9-b5f0-30b0aca6f5d0</string>
    <key>CFBundleURLTypes</key>
    <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>whatstrading</string>
                    <string>snap-kit-rowan</string>
                    <string>oauth2</string>
                </array>
            </dict>
        </array>

    <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>snapchat</string>
            <string>bitmoji-sdk</string>
            <string>itms-apps</string>
        </array>

    <key>SCSDKScopes</key>
        <array>
            <string>https://auth.snapchat.com/oauth2/api/user.external_id</string>
            <string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
            <string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
        </array>
</dict>
</plist>
